KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/kinit_gdt.o\

CC= /home/louis/Documents/os/cross_compiler_32bits/bin/i686-elf-gcc
AS= /home/louis/Documents/os/cross_compiler_32bits/bin/i686-elf-as 
LD= /home/louis/Documents/os/cross_compiler_32bits/bin/i686-elf-gcc
